<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['']">Liste des étudiants</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/NewStudent']">Nouvel étudiant</a>
      <a class="nav-item nav-link" [routerLink]="['/UpdateStudent']">Mettre à jour un étudiant</a>
      <a class="nav-item nav-link" [routerLink]="['/RemoveStudent']">Supprimer un étudiant</a>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>
